{% extends 'PointWebAdminBundle::base.html.twig' %}

{% block content_right %}
    <h1>Article</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>H1</th>
                <td>{{ entity.h1 }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ entity.reference }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Photo1</th>
                <td>{{ entity.photo1 }}</td>
            </tr>
            <tr>
                <th>Photo2</th>
                <td>{{ entity.photo2 }}</td>
            </tr>
            <tr>
                <th>Photo3</th>
                <td>{{ entity.photo3 }}</td>
            </tr>
            <tr>
                <th>Url1</th>
                <td>{{ entity.url1 }}</td>
            </tr>
            <tr>
                <th>Url2</th>
                <td>{{ entity.url2 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
