{% trans_default_domain 'FOSUserBundle' %}


            {% block fos_user_content %}
<div id="wrapper">

    <!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path('point_web_fiche_homepage') }}">SB Admin</a>
    </div>
    <!-- Top Menu Items -->
    <ul class="nav navbar-right top-nav">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu message-dropdown">
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-preview">
                    <a href="#">
                        <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                            <div class="media-body">
                                <h5 class="media-heading"><strong>John Smith</strong>
                                </h5>
                                <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                <p>Lorem ipsum dolor sit amet, consectetur...</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="message-footer">
                    <a href="#">Read All New Messages</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
            <ul class="dropdown-menu alert-dropdown">
                <li>
                    <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                </li>
                <li>
                    <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">View All</a>
                </li>
            </ul>
        </li>
        <li class="dropdown">





            {% if app.user %}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>{{ app.user.fullname }}<b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                </li>
            </ul>
            {% else %}
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" id="connexion" title="">Connectez-vous</a>

            <ul class="dropdown-menu">
                <li> <div id="block_connexion form-group">

                        <form class="col-lg-12" method="post" name="login" action="{{ path("fos_user_security_check") }}" id="formLogin">
                            <legend>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</legend>
                            <input class="form-control" type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input class="form-control" type="text" name="_username" placeholder="Identifiant"/>

                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input class="form-control" type="password" name="_password" placeholder="Mot de passe"/>

                            <input class="btn btn-sm btn-success" name="espace" value="send" type="hidden" />
                            <input class="btn btn-sm btn-success" type="submit" name="_submit" value="{{ 'security.login.submit'|trans }}" id="bt_connect"/>

                        </form>
                    </div>
                </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li>
                    <li class="divider"></li>
                </ul>
                {% endif %}

        </li>
    </ul>
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="{{ path('point_web_app_homepage') }}"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
            </li>

                        {% if app.user %}
            <li>
                <a href="{{ path('admin_frais_new') }}"><i class="fa fa-fw fa-bar-chart-o"></i> Ajouter une Fiche</a>
            </li>
                            <li>
                                <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Gestion Utilisateur <i class="fa fa-fw fa-caret-down"></i></a>
                                <ul id="demo" class="collapse">
                                    <li>
                                        <a href="{{ path('admin_frais') }}">Voir Fiches</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('admin_frais_new') }}">Ajouter Fiche</a>
                                    </li>
                                </ul>
                            </li>
            <li>
                <a href="javascript:;" data-toggle="collapse" data-target="#demo1"><i class="fa fa-fw fa-arrows-v"></i> Gestion Comptable <i class="fa fa-fw fa-caret-down"></i></a>
                <ul id="demo1" class="collapse">
                    <li>
                        <a href="#">Nouvelles Fiches</a>
                    </li>
                    <li>
                        <a href="#">Fiches en Attentes</a>
                    </li>
                    <li>
                        <a href="#">Fiches Validées</a>
                    </li>
                    <li>
                        <a href="#">Fiches Refusées  </a>
                    </li>
                </ul>
            </li>
                            <li>
                                <a href="{{ path('admin_frais') }}"><i class="fa fa-fw fa-dashboard"></i> Fiche de Frais</a>
                            </li>
                            <li>
                                <a href="tables.html"><i class="fa fa-fw fa-table"></i> Table</a>
                            </li>
                            <li>
                                <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Form</a>
                            </li>
                            <li>
                                <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> bootstrap</a>
                            </li>
                            <li>
                <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
            </li>
            <li>
                <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
            {% endblock fos_user_content %}