{% extends 'PointWebAdminBundle::base.html.twig' %}

{% block content_right %}
    <h1>User</h1>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Nom d'utilisateur</h3>
        </div>
        <div class="panel-body">
            {{ entity.username }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Prénom</h3>
        </div>
        <div class="panel-body">
            {{ entity.firstName }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Nom</h3>
        </div>
        <div class="panel-body">
            {{ entity.lastName }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Email</h3>
        </div>
        <div class="panel-body">
            {{ entity.email }}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Roles</h3>
        </div>
        <div class="panel-body">
            {% for role in entity.roles %}
                <p>{{ role }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Actif ?</h3>
        </div>
        <div class="panel-body">
            {% if entity.enabled == true %}{{ 'Oui' }}{% else %}{{ 'Non' }}{% endif %}
        </div>
    </div>

    <a href="{{ path('admin_user') }}" class="btn btn-primary"><i class="fa fa-arrow-circle-left"></i> Retour à la liste</a>
    <a href="{{ path('admin_user_edit', { 'id': entity.id }) }}" class="btn btn-primary"><i class="fa fa-pencil"></i>
        Modifier</a>
    {{ form(delete_form) }}
{% endblock %}
