{% extends 'PointWebAdminBundle::base.html.twig' %}

{% block content_right %}
    <h1>Ajout d'un evenement</h1>

    {{ form_start(form, {'attr': {'class':'form-horizontal' }}) }}
    <fieldset>
        <div class="form-group">
            {{ form_label(form.startDate) }}
            <div class="col-lg-10">
                {{ form_errors(form.startDate) }}
                {{ form_widget(form.startDate) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.endDate) }}
            <div class="col-lg-10">
                {{ form_errors(form.endDate) }}
                {{ form_widget(form.endDate) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            <div class="col-lg-10">
                {{ form_errors(form.description) }}
                {{ form_widget(form.description) }}
            </div>
        </div>
    </fieldset>
    {{ form_end(form) }}

    <a href="{{ path('point_web_calendar_admin_reroute') }}" class="btn btn-primary"><i
                class="fa fa-arrow-circle-left"></i> Retour au calendrier</a>
{% endblock %}
