 <div class="logo">
        <a href="#"></a>
    </div>

 <nav>
     <ul>
         <li><a href="{{ path('point_web_app_homepage') }}" title=""><i class="fa fa-home"></i> Accueil</a></li>
         <li><a href="{{ path('point_web_prez') }}" title=""><i class="fa fa-home"></i> Présentation</a></li>
         <li><a href="{{ path('point_web_veille') }}" title=""><i class="fa fa-home"></i> Veille Technologique</a></li>
         <li><a href="{{ path('point_web_app_homepage') }}" title=""><i class="fa fa-home"></i> Actualité</a></li>
         <li><a href="{{ path('point_web_app_contact') }}" title=""><i class="fa fa-envelope"></i> Contact</a></li>
     </ul>
 </nav>
