<!-- EXEMPLE SLIDER -->
<!--
<div id="owl-slider" class="owl-carousel owl-theme">

    <div class="item">
        <img src="{{ asset('images/sansimage/sans-img1.jpg') }}" alt="">
    </div>
    <div class="item">
        <img src="{{ asset('images/sansimage/sans-img1.jpg') }}" alt="">
    </div>
    <div class="item">
        <img src="{{ asset('images/sansimage/sans-img1.jpg') }}" alt="">
    </div>

</div>
-->

<!-- EXEMPLE LIGHTBOX -->
<!--
<a data-imagelightbox="f" href="{{ asset('images/sansimage/sans-img1.jpg') }}">
<img src="{{ asset('images/sansimage/sans-img1.jpg') }}"  alt="legende"  />
</a>
<a data-imagelightbox="f" href="{{ asset('images/sansimage/sans-img2.jpg') }}">
<img src="{{ asset('images/sansimage/sans-img2.jpg') }}"  alt="legende" />
</a>
<a data-imagelightbox="f" href="{{ asset('images/sansimage/sans-img3.jpg') }}">
<img src="{{ asset('images/sansimage/sans-img3.jpg') }}"  alt="legende" />
</a>
-->