<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8"/>
        <title>{{ app.request.get('_route')|getRef('title') }}</title>
        <meta name="description" content="{{ app.request.get('_route')|getRef('description') }}"/>
        <meta name="keywords" content="{{ app.request.get('_route')|getRef('keywords') }}"/>
    <!--<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;"/>-->
        <script src="{{ asset('jquery-ui-1.11.4.custom/external/jquery/jquery.js') }}"></script>
        <script src="{{ asset('js/jquery-ui-1.11.4.custom/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('js/jquery.anti-ie7.js') }}"></script>
        <script src="{{ asset('js/jquery-migrate-1.2.1.js') }}"></script>
        <script src="{{ asset('js/jserror.js') }}"></script>
        <script src="{{ asset('js/antispam.js') }}"></script>
    <!--<script src="{{ asset('js/owl.carousel.min.js') }}"></script>-->
    <!--<script src="{{ asset('js/imagelightbox.js') }}"></script>-->
    <!--<script src="{{ asset('js/fonctionlightbox.js') }}"></script>-->
    <!--<script src="{{ asset('js/respond.js') }}"></script>-->
    <!--<script src="{{ asset('js/jquery.cookiesdirective.js') }}"></script>-->
    <!--<script src="{{ asset('js/cookies.js') }}"></script>-->
        <script src="{{ asset('js/app.js') }}"></script>

    <!--<link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}" media="all"/>-->
    <!--<link rel="stylesheet" href="{{ asset('css/owl.theme.css') }}" media="all"/>-->
    <!--<link rel="stylesheet" href="{{ asset('css/owl.transitions.css') }}" media="all"/>-->
    <!--<link rel="stylesheet" href="{{ asset('font-awesome-4.3.0/css/font-awesome.min.css') }}" media="all"/>-->
    <!--<link rel="stylesheet" href="{{ asset('css/imagelightbox.css') }}" media="all"/>-->
    <!--<link rel="stylesheet" href="{{ asset('css/foundation.css') }}" media="all"/>-->
        <link rel="stylesheet" href="{{ asset('css/app.css') }}" media="all"/>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
        <!--[if IE]>
            <style media="screen">
               .myhr{margin:-0.45em 0}
            </style>
            <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <meta http-equiv="imagetoolbar" content="no" />
        <![endif]-->
    </head>
    <body>
    {% block body %}
    <div class="wrapper">
        <header id="page-header">
            {% block header %}
                {% include 'PointWebAppBundle::_header.html.twig' %}
            {% endblock %}
            <h1 title="{{ app.request.get('_route')|getRef('h1Title') }}">{{ app.request.get('_route')|getRef('h1') }}</h1>
        </header>
        <div id="slider">
            {% block slider %}
                {% include 'PointWebAppBundle::_slider.html.twig' %}
            {% endblock %}
        </div>
        <div id="menu">
            {% block menu %}
                {{ render(controller('PointWebAppBundle:Default:menu')) }}
            {% endblock %}
        </div>
        <section id="content">
            <noscript>
                <dl id="jserror">
                    <dt>Attention</dt>
                    <dd>Si vous souhaitez utiliser pleinement toutes les capacités de ce site Internet vous devez activer javascript dans votre 		
                    navigateur</dd>
                </dl>
            </noscript>
            {% block content %}

            {% endblock %}
        </section>
        {% endblock %}
        <footer id="footer">
            {% block footer %}
               {{ render(controller('PointWebAppBundle:Default:footer')) }}
            {% endblock %}
        </footer>
        <div id="scrollToTop"><a href="#">&#9650;</a></div>
        {% block javascripts %}
        {% endblock %}
    </body>
</html>