{% extends 'PointWebFicheBundle::base.html.twig' %}
{% block content %}
    <h1>Frais</h1>
    <fieldset>
        <div class="col-lg-9 table-responsive">
            <table class="records_list table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    {% if app.user %}
                        <p class="paragraphe">HELLO  </p>
                    {% else %}
                    <p class="paragraphe">Pas connecté </p>
                    {% endif %}
                    <th>id: {{ entity.id }}</th>
                    <th>Quantité</th>
                    <th>Prix</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                <tr><td><h5>Nuité</h5></td>
                    <td><div class="col-lg-6">{{ entity.qtNuit}}</div></td>
                    <td><div class="col-lg-6">{{ entity.prixNuit }}</div></td>
                    <td><div class="col-lg-6">{{ entity.totalNuit }}</div></td>
                </tr>
                </tbody>
                <tbody>
                <tr><td><h5>Repas</h5></td>
                    <td><div class="col-lg-6"> {{ entity.qtRepas }}</div></td>
                    <td><div class="col-lg-6"> {{ entity.prixRepas }}</div></td>
                    <td><div class="col-lg-6"> {{ entity.totalRepas }}</div></td>
                </tr>
                </tbody>
                <tbody>
                <tr><td><h5>Kilomètrage</h5></td>
                    <td><div class="col-lg-6"> {{ entity.qtKm }}</div></td>
                    <td><div class="col-lg-6"> {{ entity.prixKm }}</div></td>
                    <td><div class="col-lg-6"> {{ entity.totalKm }}</div></td>
                </tr>
                </tbody>
                <tbody>
                <tr><td><h5>Total</h5></td>
                    <td><div class="col-lg-6"></div></td>
                    <td><div class="col-lg-6"></div></td>
                    <td><div class="col-lg-6">{{ entity.total }}</div></td>
                </tr>
                </tbody>

            </table>
        </div>

    </fieldset>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_frais') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_frais_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
